<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        iframe {
            float: right;
            width: 350px;
            height: 450px;
        }
        
        #result {
            background: steelblue !important;
        }
    </style>
</head>

<iframe allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/b71d1505-6bbc-4467-8ed8-7009bbb13434">
</iframe>

</html>